node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
src/generated
/log/server.log
src/beispiele.ts
src/beispiele-write.ts

# Logs
log
logs
*.log
pnpm-debug.log*
lerna-debug.log*
.scannerwork
*.exe
log/
*.log

*.exe
log/
*.log
